* {
  box-sizing: border-box;
  padding: 0;
  margin: 0px
}

*:focus {
  outline: none;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue, sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* ------------------------------------------------------ */
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff8826;
  border-radius: 16px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ee6c00;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
/* ------------------------------------------------------ */

/* Hide scrollbar */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.carousel-container {
  width: 100%;
  margin: 40px 0 0;
}
